anthropic==0.16.0
faiss-cpu==1.7.4
huggingface-hub==0.20.3
langchain==0.1.7
langsmith==0.1.2
openai==1.12.0
pydantic==2.6.1
PyYAML==6.0.1
sentence-transformers==2.3.1
streamlit==1.31.1
torch==2.2.0 -f https://download.pytorch.org/whl/cpu/torch_stable.html
