anthropic==0.19.1
faiss-cpu==1.8.0
huggingface-hub==0.21.4
langchain==0.1.11
langsmith==0.1.23
openai==1.13.3
pydantic==2.6.3
PyYAML==6.0.1
sentence-transformers==2.5.1
streamlit==1.32.0
torch==2.2.1 -f https://download.pytorch.org/whl/cpu/torch_stable.html
